main {
  margin-top: 11vh;
  min-height: 89vh;
  padding: 5vh 0;
}

main .dev-search {
  position: relative;
  height: 50vh;
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4vh;
}

main .dev-search div.bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main .dev-search div.bg-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 4vh;
}

main .dev-search form {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .dev-search form label {
  position: absolute;
  height: 7.5vh;
  width: 45%;
}

main .dev-search form label i {
  position: absolute;
  top: 50%;
  left: 4.5vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3.5vh;
  color: #B4B4B4;
}

main .dev-search form label input {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5vh;
  padding: 0 4vh 0 9vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0.5vh 0.5vh 1.5vh 0.5vh rgba(0, 0, 0, 0.1);
          box-shadow: 0.5vh 0.5vh 1.5vh 0.5vh rgba(0, 0, 0, 0.1);
  font-size: 3vh;
  color: #636363;
  border: none;
}

main .dev-search form label input::-webkit-input-placeholder {
  color: #B4B4B4;
}

main .dev-search form label input:-ms-input-placeholder {
  color: #B4B4B4;
}

main .dev-search form label input::-ms-input-placeholder {
  color: #B4B4B4;
}

main .dev-search form label input::placeholder {
  color: #B4B4B4;
}

main .members {
  margin: 10vh auto 5vh auto;
  width: 90%;
}

main .members #tab-titles {
  width: 100%;
  height: 6vh;
  border-bottom: 0.4vh solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .members #tab-titles .tab-year {
  height: 100%;
  padding: 0 4vh;
  font-size: 2.75vh;
  cursor: pointer;
  border: 0.4vh solid #eeeeee00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .members #tab-titles .active-tab-year {
  border-radius: 1.5vh 1.5vh 0 0;
  border: 0.4vh solid #EEEEEE;
  border-bottom: 0.4vh solid #ffffff;
  color: #4885ED;
}

main .members #disciplines {
  margin: 10vh auto 2vh auto;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1.5vh;
  overflow: hidden;
  border: 0.1vh solid #E2E2E2;
  -ms-flex-preferred-size: content;
      flex-basis: content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

main .members #disciplines .discipline {
  padding: 1vh 4vh;
  font-size: 2.5vh;
  border-left: 0.1vh solid #E2E2E2;
  border-right: 0.1vh solid #E2E2E2;
  cursor: pointer;
}

main .members #disciplines .active-discipline {
  background-color: #616DD9;
  color: #FFFFFF;
}

main .members #tab-content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.member {
  position: relative;
  height: 55vh;
  width: 30%;
  min-width: 200px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 2vh;
  border: 0.3vh solid #EEEEEE;
}

.member:hover .middle-hover {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.member .top {
  position: relative;
  height: 50%;
  overflow: hidden;
  width: 100%;
}

.member .top .background-img {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2vh;
  height: 60%;
  width: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2vh;
}

.member .top .background-img .profile-pic {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1vh solid #FFFFFF;
  background-color: #dadada;
}

.member .top .background-img .profile-pic img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.member .top .web, .member .top .cloud {
  background: -webkit-gradient(linear, left top, left bottom, from(#091E3A), to(#F4C20D)) !important;
  background: linear-gradient(180deg, #091E3A 0%, #F4C20D 100%) !important;
}

.member .top .uiux, .member .top .none {
  background: -webkit-gradient(linear, left top, left bottom, from(#091E3A), to(#DB3236)) !important;
  background: linear-gradient(180deg, #091E3A 0%, #DB3236 100%) !important;
}

.member .top .android {
  background: -webkit-gradient(linear, left top, left bottom, from(#091E3A), to(#3CBA54)) !important;
  background: linear-gradient(180deg, #091E3A 0%, #3CBA54 100%) !important;
}

.member .top .flutter {
  background: -webkit-gradient(linear, left top, left bottom, from(#091E3A), to(#4885ED)) !important;
  background: linear-gradient(180deg, #091E3A 0%, #4885ED 100%) !important;
}

.member .name {
  width: 100%;
  height: 10%;
  text-align: center;
  font-weight: bolder;
  padding: 0 1vh;
}

.member .large {
  font-size: 3vh;
}

.member .small {
  font-size: 2.5vh;
}

.member .middle {
  font-size: 2.4vh;
  height: 28%;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.member .middle .position {
  margin: 1vh 0;
}

.member .middle .lead {
  font-weight: bolder;
  color: #4885ED;
}

.member .middle-hover {
  position: absolute;
  height: 28%;
  width: 100%;
  top: 60%;
  left: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.member .profile a {
  padding: 2vh 4vh;
  background-color: #1E1E1E;
  border-radius: 1vh;
  color: #FFFFFF;
  text-decoration: none;
}

.member .profile-not-found {
  font-size: 2.3vh;
  color: grey;
}

.member .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 12%;
  border-top: 0.2vh solid #F3F5F8;
}

.member .socials a.social {
  margin: 0 1.5vh;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #717981;
  border: 0.1vh solid #E2E2E2;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.member .socials a.facebook:hover {
  background-color: #1877f2;
  color: #FFFFFF;
}

.member .socials a.github:hover {
  background-color: #14171a;
  color: #FFFFFF;
}

.member .socials a.linkedin:hover {
  background-color: #0a66c2;
  color: #FFFFFF;
}

#search-results {
  width: 90%;
  margin: 10vh auto 5vh auto;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  main {
    margin-top: 11vw;
    padding: 5vw 0;
  }
  main .dev-search {
    height: 30vh;
    width: 90%;
    border-radius: 2vw;
  }
  main .dev-search form label {
    position: absolute;
    height: 5vh;
    width: 70%;
  }
  main .dev-search form label i {
    left: 4vw;
    font-size: 3vw;
  }
  main .dev-search form label input {
    border-radius: 5vw;
    padding: 0 4vw 0 8vw;
    font-size: 3vw;
  }
  main .members {
    margin: 10vw auto 5vw auto;
    width: 95%;
  }
  main .members #tab-titles {
    width: 100%;
    height: 7.5vw;
    border-bottom: 0.4vw solid #EEEEEE;
  }
  main .members #tab-titles .tab-year {
    padding: 0 4vw;
    font-size: 3vw;
  }
  main .members #tab-titles .active-tab-year {
    border-radius: 2vw 2vw 0 0;
    border: 0.4vw solid #EEEEEE;
    border-bottom: 0.4vw solid #ffffff;
  }
  main .members #disciplines {
    margin: 10vw auto 2vw auto;
    border-radius: 3vw;
    border: 0.1vw solid #E2E2E2;
  }
  main .members #disciplines .discipline {
    padding: 1vw 4vw;
    font-size: 3.5vw;
    border-left: 0.1vw solid #E2E2E2;
    border-right: 0.1vw solid #E2E2E2;
  }
  main .members .small {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 40% !important;
  }
  main .members .small .discipline {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1vw 0 !important;
  }
  main .members #tab-content {
    width: 100%;
  }
  .member {
    height: 55vh;
    width: 45%;
    margin: 1vw;
    border-radius: 3vw;
    border: 0.3vw solid #EEEEEE;
  }
  .member .top .background-img {
    margin-top: 2vw;
    width: 95%;
  }
  .member .top .background-img img.background-img-pic {
    border-radius: 2vw;
  }
  .member .top .background-img .profile-pic {
    border: 1vw solid #FFFFFF;
  }
  .member .name {
    padding: 0 1vw;
    height: 15%;
    width: 100% !important;
  }
  .member .large-name {
    font-size: 4vw;
  }
  .member .middle {
    font-size: 3vw;
    height: 23%;
  }
  .member .middle .position {
    margin: 1vw 0;
  }
  .member .middle-hover {
    top: 65%;
    height: 23%;
  }
  .member .profile a {
    padding: 3vw 5vw;
    border-radius: 2vw;
  }
  .member .profile-not-found {
    font-size: 2.3vw;
  }
  .member .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 12%;
    border-top: 0.2vw solid #F3F5F8;
  }
  .member .socials a.social {
    margin: 0 1.5vw;
    height: 7vw;
    width: 7vw;
    border: 0.2vw solid #E2E2E2;
  }
  #search-results {
    width: 95%;
    margin: 10vw auto 5vw auto;
  }
}
/*# sourceMappingURL=styles.css.map */