<link rel="stylesheet" href="/css/index/font-awesome.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
/>


<nav>
    
    <a href="/"><img src="/img/logo/DSC-trans-new.png"alt="favicon"/></a>
    <div class="nav-list">
        <a href="/">Home</a>
         <a href="/project/">Projects</a>
         <a href="/blog/">Blogs</a>
        <a href="#">Team</a>
        <% if(!user){ %>
        <a href="/login/"><button name="login">Login</button></a>
        <% }else{ %>
        <a href="/login/"><button name="logout">Logout</button></a>
        <% } %>
    </div>
</nav>