<%
  let videoList = [
    "https://www.youtube.com/embed/GAoWVb_a9_M",
    "https://www.youtube.com/embed/xMBkZRCA_Lo",
    "https://www.youtube.com/embed/YL8amQAXD2A",
    "https://www.youtube.com/embed/V6s5vp4l4WE",
    "https://www.youtube.com/embed/P3-Btcdwzbs",
    "https://www.youtube.com/embed/1-uwfWc3v-4",
    ""
  ]
%> 
<section class="video">
  <h1 class="video__secondary intersect">Video Gallery</h1>
  <div class="contain">
    <button id="left-button">
      <img src="/img/logo/left.svg" alt="left arrow" class="" />
    </button>
    <div class="row" id="row">
      <div class="row__inner">
        <% for(let i = 0; i<videoList.length; i++) { %>
          <div class="tile">
            <div class="tile__media">
              <iframe
                src="<%= videoList[i] %>"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
    <button id="right-button">
      <img src="/img/logo/left.svg" alt="left arrow" class="inv" />
    </button>
  </div>
</section>