<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
worldwide developers community initiated by Google.The DSC NITS website is open for
all student developers, who wish to improve their skills.
Each user has separate profile page, where one can add his/her skills,
projects and accomplishments." />
	<meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
Profile, Forum, Events, Developers, NIT Silchar" />

	<title>DSC NITS | Projects</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/logo/dsc_trans_logo.png" />
	<link rel="stylesheet" href="/css/project-page/dscprojects.css" />
	<link rel="stylesheet" href="/css/index/footer.css" />
	<link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
	
	<script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
</head>

<!--Temporary Data-->
<%

/**
 * Technologies (exactly as written here):
 * CSS
 * Express JS
 * Firebase
 * Flutter
 * HTML
 * JS
 * Java
 * Kotlin
 * Mongo DB
 * Node JS
 * Python
 * React JS
 * SQL
 * SQLite
 * TS
 */

let projects = [
	// DUMMY
	// {
	// 	title: "AttendO App",
	// 	status: 1, /* 1- Completed, 0- Ongoing */
	// 	img: "/img/Project/resource-hub.png",

	// 	/* First Element of Array is Short Description */
	// 	description: [
	// 		"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
	// 		"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
	// 	],

	// 	members: [
	// 		{
	// 			name: "Person 1",
	// 			username: "person1"
	// 		},
	// 		{
	// 			name: "Person 2",
	// 			username: "person2"
	// 		},
	// 		{
	// 			name: "Person 3",
	// 			username: "person3"
	// 		},
	// 	],

	// 	techStack: [
	// 		"Node JS",
	// 		"Mongo DB",
	// 		"HTML",
	// 		"CSS",
	// 		"JS",
	// 	],

	// 	link: "https://www.google.com/"

	// },
	{
		title: "Resource Hub",
		status: 0,
		img: "/img/Project/resource-hub.png",
		description: [
			"Resource Hub is a platform for sharing notes and question papers. For any requirement, user will only have to request for it in the hub and everyone will be informed about the request.",
			"Resource Hub provides a seamless experience for sharing and requesting notes. Notes are easy to locate by course or instructor and required materials can be requested. Rating ensures quality of notes.",
			"Resource Hub provides a seamless experience for sharing and requesting notes. Notes are easy to locate by course or instructor and required materials can be requested. Rating ensures quality of notes.",
		],
		members: {
			mentors : [],
			developers : [
				{
					name: "Ankit Srivastava",
					username: "ank21",
				},
				{
					name: "Ujjawal Jain",
					username: "ujjawal-1999",
				},
				{
					name: "Anuva Bhattacharjee",
					username: "anuva",
				},
			],
		},
		techStack: [
			"Node JS",
			"Mongo DB",
			"HTML",
			"CSS",
			"JS"
		],
		link: "http://18.191.249.98:3000/",
	},
	{
		title: "Attendo App",
		status: 1,
		img: "/img/Project/attendo.png",
		description: [
			"Manage your attendance record with the help of Attendo. With a friendly UI, managing attendance is simple as it can be. Also get reminders for classes and never miss them.",
			"With Attendo, keep a check on your attendance status. No accidental low attendances. With the reminders, no more missing tests or important events. No calculating attendance anymore, AttendO does it for you.",
		],
		members: {
			mentors : [
				{
					name: "Nandini Agarwal",
					username: "nand_20",
				},
				{
					name: "Rishiraj Paul Chowdhury",
					username: "getoxdev",
				},
			],
			developers : [
				{
					name: "Aman Aryan",
					username: "aman_aryan",
				},
				{
					name: "Jyotimoy Kashyap",
					username: "jyotimoy-kashyap",
				},
				{
					name: "Gaurav Das",
					username: "gauravdas",
				},
				{
					name: "Srishti Sharma",
					username: "shristi923",
				},
			],
		},
		techStack: [
			"Java",
			"Firebase",
			"SQLite",
			"JS"
		],
		link: "https://play.google.com/store/apps/details?id=com.attendo",
	},
	{
		title: "Easy Exchange",
		status: 0,
		img: "/img/Project/Easy Exchange Logo.png",
		description: [
			"Easy Exchange App aims at providing a platform where students can exchange goods. Students can seamlessly buy, rent, sell or borrow any accessories or materials at reasonable prices within the campus.",
			"The app will help users to sell, buy, rent, or borrow accessories like books, bicycles, EGD tools, lab coats, etc. at an affordable price within the campus with secure payment system.",
		],
		members: {
			mentors : [
				{
					name: "Elvis Rahman",
					username: "elvisr",
				},
				{
					name: "Kazi Sahariar Rahi",
					username: "kazi",
				},
				{
					name: "Manzil Hoque",
					username: "manzilhoque",
				},
			],
			developers : [
				{
					name: "Nihar Jyoti Basisth",
					username: "nightfury",
				},
				{
					name: "Lovepreet Singh",
					username: "lovepreet",
				},
				{
					name: "Sharmistha Das",
					username: "sharmistha412",
				},
				{
					name: "Mriganka Bharali",
					username: "mriga14",
				},
				{
					name: "Sahil Sarwar",
					username: "im_sahil",
				},
				{
					name: "Snehashish Karmakar",
					username: "android-developer",
				},
				{
					name: "Sanchayita Purkayastha",
					username: "_sanchayita_",
				},
				{
					name: "Jaariya Hussain",
					username: null,
				},
				{
					name: "Rontu Bharoi",
					username: null,
				},
				{
					name: "Zakir Alam",
					username: null,
				},
			]
		},
		techStack: [
			"Java",
			"Kotlin",
			"Firebase"
		],
		link: null,
	},
	{
		title: "Alumni Tracking",
		status: 0,
		img: "/img/Project/ats.jpg",
		description: [
			"Acts as an interaction bridge between Alumni and the present students of NIT Silchar. It is basically a multi-portal application consisting of the Admin and Alumni Section.",
			"Makes the interaction between Alumni and present students seamless. Users can post blogs and alumni can have chat rooms of their respective batches and branches for further interactions.",
		],
		members: {
			mentors : [
				{
					name: "Ujjawal Jain",
					username: "ujjawal-1999",
				},
				{
					name: "Rahul Kumar Gupta",
					username: "technisrahulk",
				},
				{
					name: "Pathikrit Chanda",
					username: "pathikrit",
				},
				{
					name: "Anuva Bhattacharjee",
					username: "anuva",
				},
			],
			developers : [
				{
					name: "Nihar Jyoti Basisth",
					username: "nightfury",
					username: "sharmistha412",
				},
				{
					name: "Siddhartha Das",
					username: "sd15",
				},
				{
					name: "Anuva Bhattacharjee",
					username: "anuva",
				},
				{
					name: "Biley Roy",
					username: "biley02",
				},
				{
					name: "Kunal Modi",
					username: null,
				},
				{
					name: "Shuvrajit Das",
					username: null,
				},
				{
					name: "Jitul Teron",
					username: "jitulteron7",
				},
				{
					name: "Pranjal Das",
					username: "pranjal123",
				},
				{
					name: "Shivam Kumar",
					username: "shivaomdsc02",
				},
				{
					name: "Rajdeep Paul",
					username: "rajdeeppauldscnits",
				},
				{
					name: "Lovepreet Singh",
					username: "lovepreet",
				},
				{
					name: "Anusha Hazarika",
					username: "verticallychallenged",
				},
				{
					name: "Reeya Hazarika",
					username: "reeya",
				},
			],
		},
		techStack: [
			"HTML",
			"CSS",
			"JS",
			"Express JS",
			"Node JS",
			"Mongo DB"
		],
		link: null,
	},
	{
		title: "Efficacy App",
		status: 1,
		img: "/img/Project/efficacy.jpeg",
		description: [
			"This helps keep a record of the scheduled club activities. This will help club coordinators to organize their event to prevent collisions with already scheduled events.",
			"The several clubs in our college carry out events throughout the year. This app prevents the often collisions that happen due to lack of coordination which also forces students to choose between events.",
		],
		members: {
			mentors : [
				{
					name: "Yash Srivastava",
					username: "yash.srivastava",
				},
				{
					name: "Trishna Kalita",
					username: "trishna_kalita",
				},
				{
					name: "Srinjoy Dutta",
					username: "moderator",
				},
			],
			developers : [
				{
					name: "Shreya Mour",
					username: null,
				},
				{
					name: "Arjun Kumar",
					username: "arjunsah",
				},
				{
					name: "Apoorv Adarsh",
					username: "aadarsh_apoorv",
				},
				{
					name: "Gaurav Bhattacharjee",
					username: "grvb15",
				},
				{
					name: "Soumya Ranjan Mohapatra",
					username: "iamsrm",
				},
				{
					name: "Digant Dixit",
					username: "digantdixit",
				},
				{
					name: "Mayur Mulchandani",
					username: "mayur726",
				},
			],
		},
		techStack: [
			"Flutter",
			"Firebase"
		],
		link: null,
	},
	{
		title: "NITS Result Portal",
		status: 0,
		img: "/img/Project/result-portal.jpg",
		description: [
			"A result portal for the Institute where the provisional results of all the semesters of a user can be accessed by them.",
			"This portal is a boon for faculties as well as the students. Faculties can update the marks without any possible errors, while students can easily access their own results.",
		],
		members: {
			mentors : [
				{
					name: "Sameer Shrivastava",
					username: "sameer46",
				},
				{
					name: "Aditya Singh Sisodiya",
					username: "scortier",
				},
				{
					name: "Nabanita Bania",
					username: "nabanita",
				},
			],
			developers : [
				{
					name: "Saurav Das",
					username: "__saurav",
				},
				{
					name: "Reeya Hazarika",
					username: "reeya",
				},
				{
					name: "Jitul Teron",
					username: "jitulteron7",
				},
				{
					name: "Debojyoti Das",
					username: "debojyoti1915001",
				},
				{
					name: "Shashwat Priyadarshy",
					username: "iamthedarwin",
				},
				{
					name: "Kavii Suri",
					username: "kavii_suri",
				},
				{
					name: "Aditya Agarwal",
					username: "aditya",
				},
				{
					name: "Gaurav Das",
					username: "gauravdas",
				},
			],
		},
		techStack: [
			"React JS",
			"Node JS",
			"Mongo DB",
			"Express JS",
			"CSS",
		],
		link: null,
	},
	{
		title: "Medical Record Management",
		status: 0,
		img: "/img/Project/medical.png",
		description: [
			"A medical records management portal where user can upload and access medical records. It has increasingly important due to COVID-19 to have all the medical history and prescriptions handy.",
			"Due to COVID-19, it has become increasingly important to have the medical history and prescriptions handy. This portal focuses on being a storage of medical data. Given adequate permissions by users, doctors can access or add records of users",
		],
		members: {
			mentors : [
				{
					name: "Ujjawal Jain",
					username: "ujjawal-1999",
				},
				{
					name: "Sameer Shrivastava",
					username: "sameer46",
				},
				{
					name: "Aditya Singh Sisodiya",
					username: "scortier",
				},
				{
					name: "Arshita Narayan",
					username: null,
				},
			],
			developers : [
				{
					name: "Gaurav Bhattacharjee",
					username: "grvb15",
				},
				{
					name: "Bhargab Nath",
					username: null,
				},
				{
					name: "Rishiraj Kalita",
					username: "rishiraj",
				},
				{
					name: "Debojyoti Das",
					username: "debojyoti1915001",
				},
				{
					name: "Nishi Sekhani",
					username: "nishi_sekhani",
				},
				{
					name: "Sujata Baroi",
					username: "sujata_baroi",
				},
				{
					name: "Aditya Agarwal",
					username: "aditya",
				},
				{
					name: "Rishav Anand",
					username: "rishav17",
				},
				{
					name: "Dhritiraj Borah",
					username: "dhritiraj1",
				},
			],
		},
		techStack: [
			"Node JS",
			"Express JS",
			"Mongo DB",
			"HTML",
			"CSS",
			"JS"
		],
		link: null,
	},
	{
		title: "Codeshare",
		status: 0,
		img: "/official-logo/DSC2.png",
		description: [
			"It is a chat based website which enables users to share their code.",
			"It is a code sharing chat based website which will have a feature of sharing code and will have same indentations like the code appears in different code editors.",
		],
		members: {
			mentors : [
				{
					name: "Sameer Shrivastava",
					username: "sameer46",
				},
				{
					name: "Subhra Sankha Sarma",
					username: "imsubhra",
				},
				{
					name: "Trishna Kalita",
					username: "trishna_kalita",
				},
			],
			developers : [
				{
					name: "Vishal Pandey",
					username: "vishalpandeynits",
				},
				{
					name: "Satyik Pritam Yogi",
					username: "satyik",
				},
				{
					name: "Saurav Das",
					username: "__saurav",
				},
				{
					name: "Jitul Teron",
					username: "jitulteron7",
				},
				{
					name: "Daniyal Mahmood",
					username: "daniyal",
				},
			],
		},
		techStack: [
			"React JS",
			"Node JS",
			"Mongo DB",
			"TS"
		],
		link: null,
	},
] 
%>

<body onload="display()">
	<!--Navbar-->
	<%-include('partials/navbar')%>

	<main>
		<div class="projects">

			<!--Project Cards-->
			<% projects.forEach((project, projectIndex) => { %>
				<%- include('partials/ProjectCard.ejs', {project, projectIndex}) %> 
			<% }); %>
		</div>

	</main>
	<%- include('partials/footer.ejs') %>
</body>

<script src="/js/darkmode.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/dscprojects/dscprojects.js"></script>

</html>