<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="description" content="DSC NIT Silchar is under Developer Students Club, which is a
worldwide developers community initiated by Google.The DSC NITS website is open for
all student developers, who wish to improve their skills.
Each user has separate profile page, where one can add his/her skills,
projects and accomplishments." />
	<meta name="keywords" content="DSC, DSC NITS, Developer Student Club NIT Silchar, Blogs, 
Profile, Forum, Events, Developers, NIT Silchar" />

	<title>DSC NITS | Projects</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/logo/dsc_trans_logo.png" />
	<link rel="stylesheet" href="/css/project-page/dscprojects.css" />
	<link rel="stylesheet" href="/css/index/footer.css" />
	<link rel="stylesheet" type="text/css" href="/css/index/navbar.css" />
	
	<script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
</head>

<!--Temporary Data-->
<!--!Big words in tech stack like JavaScript should be spaced like Java Script or Mongo DB for word break-->
<%
let projects = [
	{
		title: "AttendO App",
		status: 1, /* 1- Completed, 0- Ongoing */
		img: "http://3.7.217.218/img/Project/resource-hub.png",

		/* First Element of Array is Short Description */
		description: [
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
		],

		members: [
			{
				name: "Person 1",
				username: "person1"
			},
			{
				name: "Person 2",
				username: "person2"
			},
			{
				name: "Person 3",
				username: "person3"
			},
		],

		techStack: [
			"Node JS",
			"Mongo DB",
			"HTML",
			"CSS",
			"Java Script",
		],

		link: "https://www.google.com/"

	},
	{
		title: "Attend1 App",
		status: 0, /* 1- Completed, 0- Ongoing */
		img: "http://3.7.217.218/img/Project/resource-hub.png",

		/* First Element of Array is Short Description */
		description: [
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
		],

		members: [
			{
				name: "Person 4",
				username: "person4"
			},
			{
				name: "Person 5",
				username: "person5"
			},
			{
				name: "Person 6",
				username: "person6"
			},
		],
		
		techStack: [
			"Node JS",
			"React JS",
			"Mongo DB",
			"Express",
			"HTML",
			"CSS",
		],
		link: "https://www.google.com/"

	},
	{
		title: "Resource Hub",
		status: 0, /* 1- Completed, 0- Ongoing */
		img: "http://3.7.217.218/img/Project/resource-hub.png",

		/* First Element of Array is Short Description */
		description: [
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.",
		],

		members: [
			{
				name: "Person 4",
				username: "person4"
			},
			{
				name: "Person 5",
				username: "person5"
			},
			{
				name: "Person 6",
				username: "person6"
			},
		],
		
		techStack: [
			"Python",
			"SQL",
			"React",
			"Java Script"
		],
		link: "https://www.google.com/"

	}
] 
%>

<body>
	<!--Navbar-->
	<%-include('partials/navbar')%>

	<main>
		<div class="projects">

			<!--Project Cards-->
			<% projects.forEach((project, projectIndex) => { %>
				<%- include('partials/ProjectCard.ejs', {project, projectIndex}) %> 
			<% }); %>
		</div>

	</main>
	<%- include('partials/footer.ejs') %>
</body>

<script src="/js/darkmode.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/dscprojects/dscprojects.js"></script>

</html>