* {
    margin: 0%;
    box-sizing: border-box;
  }

  hr{
      width: 90vw;
      margin-left: 5vw;
      border-top: 1px solid #D9D5D5;
  }

body{
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.blog-banner{
    position: relative;
}

.blog-backdrop{
    width: 90vw;
    margin-left : 5vw;
    margin-top: 5vh;
}

.blog-search-bar{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    height: 7vh;
    width: 40%;
    border-radius: 7vh;
    background-color: white;
    box-shadow: 1px 1px 3px 3px #50505015;
}

.blog-search-bar img{
    position: absolute;
    opacity: 0.3;
    height: 3vh;
    top:2vh;
    left:2vw;

}

.blog-search-bar input{
    position: absolute;
    opacity: 0.5;
    left: 5vw;
    height: 7vh;
    width: 75%;
    border:0px;
    outline: none;
    font-size: 3vh;
}


/* BEST BLOGS */


.best-blogs-container{
    height:80vh;
    width: 100vw;
    padding-top:3%;
}

.best-blogs-header{
    position: relative;
    margin-bottom: 2%;
    padding-left: 5%;
}
.best-blogs-header img{
    width:30px;
    border-radius: 15px;
    display: inline-block;
}

.best-blogs-header h3{
    position: absolute;
    top: 5%;
    width: 80%;
    margin-bottom: 10%;
    padding-left: 2%;
    font-weight: 600;
    display: inline-block;
}

.best-blogs-list-box{
    height: 80%;
    width: 100vw;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 45% 45%;
    row-gap: 8%;
    justify-content: center;
    overflow: hidden;
}

.best-blogs-list-item{
    display: grid;
    grid-template-columns: 10% 90% ;
    grid-template-rows: 20% auto auto;
    column-gap: 5%;
    row-gap: 3%;

}

.best-blogs-list-item .blog-rank{
    font-size: 1.8rem;
    color:#E7E6E6;
    font-weight: 800;
    text-align: right;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.blog-profile{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    position: relative;
}

.blog-profile a{
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    transform: translate(0%,-50%);
    left:15%;
    top:50%;
    
}



.blog-profile img{
    width: 10%;
    height: 100%;
    border-radius: 35%;
    margin-right: 5%;
}


.best-blogs-list-item .blog-title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 5%;
    overflow: hidden;

    cursor: pointer;
}
.best-blogs-list-item .blog-date{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 0.8rem;
    color:#8F9AB0;
}

.blog-container{
    height:70vh;
}