* {
    margin: 0%;
    box-sizing: border-box;
  }

  hr{
      width: 90vw;
      margin-left: 5vw;
      border-top: 1px solid #D9D5D5;
  }

body{
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.blog-banner{
    position: relative;
}

.blog-backdrop{
    width: 95vw;
    margin-left: 2.5vw;
    margin-top: 5vh;
}

.blog-search-bar{
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    height: 7vh;
    width: 40%;
    border-radius: 7vh;
    background-color: white;
    box-shadow: 1px 1px 3px 3px #50505015;
}

.blog-search-bar img{
    position: absolute;
    opacity: 0.3;
    height: 3vh;
    top:2vh;
    left:2vw;

}

.blog-search-bar input{
    position: absolute;
    opacity: 0.5;
    left: 5vw;
    height: 7vh;
    width: 75%;
    border:0px;
    outline: none;
    font-size: 3vh;
}


/* BEST BLOGS */


.best-blogs-container{
    height:70vh;
    width: 100vw;
    padding-top:3%;
}

.best-blogs-header{
    position: relative;
    margin-bottom: 2%;
    padding-left: 3.5%;
}
.best-blogs-header img{
    width:30px;
    border-radius: 15px;
    display: inline-block;
}

.best-blogs-header h3{
    position: absolute;
    top: 5%;
    width: 80%;
    margin-bottom: 10%;
    padding-left: 2%;
    font-weight: 600;
    color: #292929;
    display: inline-block;
}

.best-blogs-list-box{
    height: 80%;
    width: 100vw;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 45% 45%;
    justify-content: center;
    overflow: hidden;
}

.best-blogs-list-item{
    display: grid;
    grid-template-columns: 10% 90% ;
    grid-template-rows: 20% auto auto;
    column-gap: 3%;
    row-gap: 3%;

    transition: 100ms;
}

/* .best-blogs-list-item:hover{
    background-color: #f8fcfd;
    padding-top: 5%;
    box-shadow: 1px 1px 3px 3px #50505015;
    height:110%;
    width: 110%;
    z-index: 8;
    transition: 200ms;
} */

.best-blogs-list-item .blog-rank{
    font-size: 1.8rem;
    color:#E7E6E6;
    font-weight: 800;
    text-align: right;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.best-blogs-list-item .blog-profile{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    position: relative;
}

.best-blogs-list-item .blog-profile a{
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    transform: translate(0%,-50%);
    left:10%;
    top:50%;
    
}



.best-blogs-list-item .blog-profile img{
    width: 8%;
    min-width: 10px;
    border-radius: 35%;
    margin-right: 2%;
}


.best-blogs-list-item .blog-title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    
    font-weight: 600;
    color: #292929;
    padding-right: 5%;
    overflow: hidden;

    cursor: pointer;
}
.best-blogs-list-item .blog-date{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 0.8rem;
    color:#8F9AB0;
}

/* BLOGS */

.blog-container{
    height:100vh;
    width: 100vw;
    margin-top: 6vh;
    margin-bottom: 5%;
}

.blog-sort{
    position: relative;
    height: 10%;
}

.blog-sort h4{
    font-weight: 600;
    font-size: 1rem;
    color: #757575;
    margin-left: 5vw;
    margin-right: 4vw;
    display: inline-block;
}

.blog-sort ul{
    width: 50%;
    display: inline-block;
}
.blog-sort ul li{
    text-decoration: none;
    display: inline;
    margin-right: 2vw;
}

.blog-sort button{
    background-color: #00000000;
    color: #292929;
    font-weight: 600;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.blog-tags{
    display: inline-block;
    width:40vw;
    height:100%;
    width: auto;
    position: absolute;
    padding:2%;

}

.blog-tags h4{
    font-size: 1rem;
    margin-bottom: 5%;
    padding-left: 5%;
    color:#292929;
}

.blog-tags ul li{
    display: inline;
}

.blog-tags ul li button{
    height: 4vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    padding: 1%;
    cursor: pointer;
    color:#8D8D8D;
    background-color: #00000000;
    border: 2px solid #E9E9E9;
    box-shadow: none;
    text-decoration: none;
}


.blog-list-box{
    display: inline-block;
    width: 60vw;
    height: 100%;
    padding-top: 2%;
    padding-left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;

    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.blog-list-box::-webkit-scrollbar{
    display: none;
}

/* .blog-list-box::-webkit-scrollbar {
    width: 1vw;
} */


/* .blog-list-box::-webkit-scrollbar-track {
    background-color: #f9f9f9;
    border-radius: 0.5vw;
  }
  
 
  .blog-list-box::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    border-radius: 0.5vw;
  }
  .blog-list-box::-webkit-scrollbar-thumb:hover {
      background: #d9d9d9;
  }  */

.blog-list-item{
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 15% 30% 40% 15%;
    column-gap: 5%;
    row-gap: 5%;

    margin-bottom: 5%;
}

.blog-list-item .blog-profile{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    position: relative;
    height:100%;
}

.blog-list-item .blog-profile img{
    position: absolute;
    width: 4%;
    transform: translate(-50%, -50%);
    left:2%;
    top: 50%;
}

.blog-list-item .blog-profile a{    
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 10%;
    top: 50%;
    font-size: 1.1rem;
}

.blog-list-item .blog-title{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    color:#292929;
    font-weight: 600;
}

.blog-list-item .blog-text{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    color:#757575;
}

.blog-list-item .blog-date{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;

    font-size: 0.8rem;
    color:#8F9AB0;
}

.blog-list-item img{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 80%;
    border-radius: 5%;
}