@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #fafafa;
}

a{
  color: inherit;
  text-decoration: none;
}
.container {
  display: block;
  width: 90vw;
  height:90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  /* background-color: rgb(219, 219, 219);
  padding:1%; */
}
.ql-toolbar{
  background-color: rgb(202, 202, 202);
}

#create-form{
  width: 100%;
  height: 100%;
}

#title{
  width:100%;
  height: 8%;
  border:0px solid black;
  border-bottom:2px solid rgb(218, 218, 218);
  font-size: 1.2rem;
  margin-top: 2%;
  outline: none;
  border:1px solid #ccc;
  padding-left: 2%;
}
#title:focus{
  border:1px solid rgb(167, 167, 167);
}
.btns{
  width: 100%;
  height: 10%;
}
.btn{
  float: right;
  padding: 1%;
  border-radius: 5%;
  border:0px solid black;
  margin-left: 1%;
  font-size: 1.1rem;
}

.btns img{
  height: 100%;
}

.publish{
  background-color: rgb(54, 161, 180);
  color: white;
}

.cancel{
  background-color: rgb(180, 54, 54);
  color: white;
}

.file-upload-wrapper{
  margin-top: 2%;
  height: 10%;
  margin-bottom: 2%;
}

#category{
  height:100%;
  width: 15%;
  text-align: center;
  margin-right: 2%;
}

.file-upload-label{
  height:100%;
  font-size: 0.8rem;
}

#file{
  height:100%;
  width: 20%;
}

.tags-upload-label{
  height: 100%;
  margin-right: 2%;
}

.tags-upload-label input{
  height: 80%;
  width: 30%;
  padding-left: 2%;
  padding-right: 2%;
}

#editor{
  height: auto;
  height: 50%;
  background-color: rgb(233, 233, 233);
  overflow: scroll;
}

@media (orientation:portrait) {
  .container{
    height:90vh;
    margin-top: 5vh;
  }

  .btn{
    font-size: 0.9rem;
    height: 8%;
    padding:2.5%;
    margin-left: 2%;
  }
  .file-upload-wrapper{
    margin-top: 2%;
    height: 20%;
    margin-bottom: 2%;
  }

  #category{
    height: 50%;
    width: 30%;
  }

  .tags-upload-label{
    height: 50%;
  }
  
  .tags-upload-label input{
    height: 50%;
    width: 65%;
    padding-left: 2%;
    padding-right: 2%;
  }

  #file{
    height:50%;
    width: auto;
  }
  
}