
*{
    box-sizing: border-box;
}
.footer_upper_body{
    -webkit-box-direction: normal;
    text-align: left;
    /* padding: 60px 0; */
}

.footer_body .footer_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer_body h4{
    font-size: 2rem;
    color: #4f4f4f;
    margin-bottom: 5px;
}

.footer_social_media{
    display: flex;
    padding: 32px 0;
}

.footer_icon{
    width: 48px;
    height: 48px;
    /* border: 1.footer_5px solid #333;
    border-radius: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.footer_body svg{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    /* stroke: #333;
    stroke-width: 2;
    fill: none; */
}

.footer_icon_path{
    fill: #505050;
}

.footer_body svg:hover .footer_icon_path{
    background: #2f80ed;
    fill: white;
}

.footer_body svg:hover .footer_icon_border{
    stroke:none ;
}

.footer_body svg:hover{
    background: #2f80ed;
}

.footer_icon_border{
    stroke: #505050;
    stroke-width: .8;
}

.footer_lower_body{
    padding: 40px 32px;
    border-top: 1px solid #eaeaea;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.footer_list{
    width: 100%;
    padding: 10px 15px;
    position: relative;
    max-width: 25%;
}

.footer_list h6{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    font-weight: 500;
}

.footer_body hr{
    border: none;
    height: 1px;
    margin: 20px 0 40px;
    background-color: #eaeaea;
    color: #eaeaea;
}

.footer_list hr{
    margin: 0 0 20px;
    width: 30px;
}

.footer_blue{
    border-bottom: 2px solid #4285f4 !important;
}

.footer_red{
    border-bottom: 2px solid #ea4335 !important;
}

.footer_yellow{
    border-bottom: 2px solid #fbbc04 !important;
}

.footer_green{
    border-bottom: 2px solid #0f9d58 !important;
}

.footer_body ul{
    list-style: none;
}

.footer_body li>a{
    line-height: 30px;
    font-size: 15px;
    color: #4f4f4f;
}

.footer_body a{
    text-decoration: none;
}

.footer_copy_right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.footer_base a{
    position: relative;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    display: flex;
    align-items: center;
}

.footer_base a img{
    height: 33px;
}

.footer_base a h3{
    color: #505050;
    font-weight: 100;
}

.footer_base:nth-child(2){
    text-align: right;
}

.footer_body{
    margin: 0 2rem;
}

@media screen and (max-width:576px) {
    /* .footer_container{
        max-width: 559px;
    } */
    .footer_body{
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    /* .footer_container{
        max-width: 720px;
    } */
    .footer_base{
        max-width: 50%;
    }
}

@media screen and (min-width:992px) {
    /* .footer_container{
        max-width: 960px;
    } */
}
@media screen and (min-width:1200px) {
    /* .footer_container{
        max-width: 1140px;
    } */
}

@media screen and (min-width:992px) {
    .footer_container{
        max-width: 960px;
    }
}
@media screen and (min-width:1200px) {
    .footer_container{
        max-width: 1140px;
    }
}


@media screen and (max-width:991px) {
    .footer_list{
        max-width: 50%;
    }
}
@media screen and (max-width:767px) {

    .footer_body h4{
        font-size: 1.5rem;
    }
    .footer_body p{
        font-size: .875rem;
    }
    .footer_lower_body{
        text-align: center;
        padding: 40px 32px;
    }
    .footer_container{
        padding-left: 0;
        padding-right: 0;
    }
    .footer_upper_body{
        padding: 35px 32px;
    }
    .footer_list{
        max-width: 100%;
    }
    .footer_list hr{
        margin: 0 auto 20px;
    }
    .footer_copy_right{
        justify-content: center;
    }
    .footer_base:nth-child(2){
        text-align: center;
        margin-top: 5px;
    }

}

@media screen and (max-width:767px) {
    .footer_base a img{
        height: 25px;
    }
    .footer_base a h3{
        font-size: 17px;
    }
}
