.animated-banner {
  position: relative;
}

.animated-banner canvas{
  float: right;
}

.animated-banner .text-animation {
  user-select: none;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0, -50%);
  height: 30vh;
  width: 40vh;

  display: flex;
  flex-direction: column;
}

.animated-banner .text-animation .text-animation-items {
  height: 40%;
  width: fit-content;
  font-size: 5.5vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0.5vh;
}

.animated-banner .text-animation .text-animation-items.dynamic {
  border-right: 1.2vh solid;
  font-weight: bold;
  font-size: 6.5vh;
  transition: 0.2s ease-in-out;
}

.about{
  background-color: #FFFBFB;
  width: 100%;
  text-align: center;
}

.about-header{
  width: 100%;
  padding-top: 2%;
}
.about-header p{
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
  font-size: 1.4rem;
  color: black;
}

.about-header p.animate{
  animation: about-ani 1s;
}

@keyframes about-ani{
  100%{
    margin-left: 20%;

  }
  0%{
    margin-left: 10%;
  }
}


.sponsors h2{
  margin-top: 5%;
}

.sponsors ul{
  margin-top: 1%;
  width: 90%;
  margin-left: 5%;
  display: inline-block;
}

.sponsors ul li{
  margin-right: 3%;
  margin-bottom: 2%;
  display: inline-block;
  background: #F8F8F8;
  border-radius: 25px;
  min-width: 20%;
  max-width: 50%;
  height: 25vh;
  cursor: pointer;
  position: relative;
  transition: 100ms;
}
.sponsors ul li:hover{
  background: rgb(230, 242, 243);  
}

.sponsors ul li.animate{
    animation: sponsor-ani 1s forwards;
}

@keyframes sponsor-ani{
  100%{
    transform: scale(100%);
  }

  0%{
    transform:scale(60%);
  }
}

.sponsors ul li img{
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  max-height: 80%;
  max-width: 80%;
  transition: 100ms;
}


@media (orientation:portrait) {
  .animated-banner .text-animation {
    display: none;
  }
  
  .about-header p{
    margin-left: 5%;
    width:90%;
    font-size: 1rem;
  }

  .about-header img{
    width: 90%;
  }

  .sponsors ul li{
    height: 20vh;
    width: 40vw;
  }
  .sponsors ul li:hover{
    background: rgb(230, 242, 243);
  }
  
  .sponsors ul li img{
    max-height: 90%;
    max-width: 90%;
  }
}