/*
  Timeline width = timeline-itm * no. of items + some padding.
  TODO: Make this calculation in js
*/
section#schedule {
  position: relative;
  height: 100vh;
  width: 100%;
}

section#schedule div.title {
  width: 100%;
  font-size: 5vh;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#schedule div.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#schedule div.navigation .navigation-item {
  height: 100%;
  width: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10vh;
  font-weight: lighter;
  padding: 0 0 0 3vh;
  color: rgba(153, 153, 153, 0.25);
  cursor: pointer;
}

section#schedule div.navigation .navigation-item:hover {
  background-color: rgba(153, 153, 153, 0.25);
  color: rgba(153, 153, 153, 0.8);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

section#schedule div#timeline-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* IE, Firefox, Safari */
}

section#schedule div#timeline-wrapper::-webkit-scrollbar {
  display: none;
  /* Chromium */
}

section#schedule div.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  width: calc(15vw * 11);
  padding: 0 10vw;
}

section#schedule div.timeline .timeline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

section#schedule div.timeline .timeline-item {
  position: relative;
  min-width: 12vw;
  max-width: 12vw;
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#schedule div.timeline .timeline-item .line-to-timeline {
  position: absolute;
  z-index: 1;
  height: 16vh;
  width: 0.5vh;
  border-radius: 3vh;
}

section#schedule div.timeline .timeline-item .logo {
  position: relative;
  height: 50%;
  width: 100%;
}

section#schedule div.timeline .timeline-item .logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

section#schedule div.timeline .timeline-item .text {
  text-align: center;
}

section#schedule div.timeline .timeline-item .text .name {
  font-size: 2.4vh;
}

section#schedule div.timeline .timeline-item .text .small {
  font-size: 2.2vh !important;
}

section#schedule div.timeline .timeline-item .text .duration {
  font-size: 2vh;
}

section#schedule div.timeline .up-item .line-to-timeline {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

section#schedule div.timeline .down-item .line-to-timeline {
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

section#schedule div.timeline .line {
  position: relative;
  height: 3vh;
  width: calc(13vw * 11);
  border-radius: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  margin: 15vh 0;
  background-color: #C6C6C6;
}

section#schedule div.timeline .line .new-session {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 15vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2vh solid #C6C6C6;
  background-color: white;
  z-index: 1;
}

section#schedule div.timeline .line .new-session img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
}

section#schedule div.timeline .line .new-session .text {
  position: absolute;
  top: 120%;
  height: 3vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 2.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

section#schedule div.timeline .line .line-item {
  position: relative;
  width: 12vw;
}

section#schedule div.timeline .line .line-item .line-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 4vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1.5vh solid white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

section#schedule div.timeline .android {
  background-color: #3CBA54;
}

section#schedule div.timeline .flutter {
  background-color: #4885ED;
}

section#schedule div.timeline .web {
  background-color: #F4C20D;
}

section#schedule div.timeline .uiux {
  background-color: #DB3236;
}

section#schedule div.timeline .gcp {
  background-color: #4885ED;
}

section#schedule div.timeline .misc {
  background-color: #434343;
}

@media screen and (max-width: 875px) {
  section#schedule {
    position: relative;
    height: 70vh;
  }
  section#schedule div.title {
    font-size: 8vw;
    height: 10vw;
    margin-bottom: 2vh;
  }
  section#schedule div.navigation {
    display: none;
  }
  section#schedule div.timeline {
    width: calc(30vw * 11);
    padding: 0 25vw;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  section#schedule div.timeline .timeline-item {
    min-width: 25vw;
    max-width: 25vw;
    height: 20vh;
    padding: 3vw 1vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  section#schedule div.timeline .timeline-item .line-to-timeline {
    position: absolute;
    height: 10vh;
    width: 0.5vw;
    border-radius: 3vw;
  }
  section#schedule div.timeline .timeline-item .logo {
    height: 50%;
    width: 50%;
    margin: 0 auto;
  }
  section#schedule div.timeline .timeline-item .logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  section#schedule div.timeline .timeline-item .logo-uiux {
    width: 100%;
    /* It was too small for 50% width */
  }
  section#schedule div.timeline .timeline-item .text .name {
    font-size: 3vw;
  }
  section#schedule div.timeline .timeline-item .text .small {
    font-size: 1.8vw !important;
  }
  section#schedule div.timeline .timeline-item .text .duration {
    font-size: 2vw;
  }
  section#schedule div.timeline .line {
    height: 3vw;
    width: calc(28vw * 11);
    margin: 10vh 0;
  }
  section#schedule div.timeline .line .new-session {
    height: 7.5vh;
    border: 2vw solid #C6C6C6;
  }
  section#schedule div.timeline .line .new-session .text {
    font-size: 3vw;
  }
  section#schedule div.timeline .line .line-item {
    min-width: 25vw;
    max-width: 25vw;
  }
  section#schedule div.timeline .line .line-item .line-circle {
    height: 4vw;
    border: 1.5vw solid white;
  }
}
/*# sourceMappingURL=index_event_schedule.css.map */