@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
  }

nav{
    position: fixed;
    top:0;
    z-index: 10;
    background: #ffffff;
    width: 100%;
    box-shadow: 1px 1px 3px 3px #50505015;
}

nav a{
    line-height:0;
    display: inline-block;
    padding: 1vh 1vw 1vh 1vw;
}
nav img{
    height: 60px;    
}


nav .nav-list{
    position: relative;
    text-align: right;
    width: auto;
    height: 100%;
    float: right;
    padding: 1vh 1vw 1vh 1vw;
    background-color: #ffffff;
}
nav .nav-list a{
    color: #646464;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    /* padding: 2vh 1vw 2vh 1vw; */
    /* font-size: 1.2rem; */
}

nav .nav-list a button{
 background-color: #F9EFEF;
  border: none;
  color: rgb(75, 75, 75);
  height: 40px;
  width:80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 16px;
}

nav .nav-list a button:hover[name=login]{
    background-color: var(--loginButton);
    color:aliceblue;
    cursor: pointer;
    transition: 0.1s;
}

nav .nav-list a button:hover[name=logout]{
    background-color: #d63c37;
    color:aliceblue;
    cursor: pointer;
    transition: 0.1s;
}

/* Portrait mode*/
@media (orientation:portrait) {

    nav img{
        height: 40px;    
    }
    
    nav .nav-list a{
        font-size: 0.8rem;
        /* font-weight: 600; */
    }

    nav .nav-list a button{
        font-size: 0.8rem;
        height: 30px;
        width:60px
    }
    
}