@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
main {
  min-height: 100vh;
  /*Temporary*/
  margin-top: 10vh;
  font-family: 'Poppins', sans-serif;
  color: #353535;
}

main .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
}

main .projects .project-card {
  position: relative;
  border: 0.1vh solid #D9D9D9;
  height: 75vh;
  width: 32%;
  min-width: 345px;
  border-radius: 3vh;
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main .projects .project-card div.go-back {
  position: absolute;
  top: 2vh;
  right: 4vh;
  font-size: 4vh;
  cursor: pointer;
  color: #4F4F4F;
}

main .projects .project-card .top {
  height: 40%;
  width: 100%;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3vh 7vh 5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .projects .project-card .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 70%;
}

main .projects .project-card .top .left .title {
  font-size: 5.3vh;
  line-height: 5vh;
}

main .projects .project-card .top .left .status {
  padding: 1vh 2vh;
  border-radius: 1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: white;
}

main .projects .project-card .top .left .completed {
  background-color: #4A90E2;
}

main .projects .project-card .top .left .ongoing {
  background-color: #3CBA54;
}

main .projects .project-card .top .right {
  position: relative;
  width: 30%;
  height: 95%;
}

main .projects .project-card .top .right img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

main .projects .project-card .tech-stack-top {
  height: 30%;
}

main .projects .project-card .mid {
  height: 40%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 4vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  font-size: 2.65vh;
}

main .projects .project-card .members-mid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 7vh;
}

main .projects .project-card .members-mid .member a {
  text-decoration: none;
  color: #353535;
}

main .projects .project-card .tech-stack-mid {
  height: calc(80% - 30%);
  padding: 1vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Tech Colors */
}

main .projects .project-card .tech-stack-mid .tech {
  margin: 1vh;
  height: 14vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 2vh;
  word-wrap: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .projects .project-card .tech-stack-mid .nodejs {
  background-color: #F1FEBE;
}

main .projects .project-card .tech-stack-mid .mongodb {
  background-color: #E4F5C8;
}

main .projects .project-card .tech-stack-mid .html {
  background-color: #FFD8D8;
}

main .projects .project-card .tech-stack-mid .css {
  background-color: #E0EEFF;
}

main .projects .project-card .tech-stack-mid .javascript {
  background-color: #FEFFCB;
}

main .projects .project-card .bottom {
  height: 20%;
  width: 90%;
  margin: 0 auto;
  border-top: 0.1vh solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .projects .project-card .bottom .icon {
  color: #4F4F4F;
  cursor: pointer;
  height: 8vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.2vh solid rgba(0, 0, 0, 0);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.75vh;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main .projects .project-card .bottom .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4F4F4F;
  text-decoration: none;
}

main .projects .project-card .bottom .icon:hover, main .projects .project-card .bottom .link:hover {
  background-color: #FFF3CA;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main .projects .project-card .bottom .active {
  background-color: #FFF3CA !important;
}

@media screen and (max-width: 500px) {
  main {
    margin-top: 8%;
  }
  main .projects {
    width: 95%;
    padding-top: 5vh;
    margin: 0 auto;
  }
  main .projects .project-card {
    height: 60vh;
    border-radius: 2vh;
    margin: 2vw 0;
  }
  main .projects .project-card div.go-back {
    top: 2vw;
    right: 4vw;
    font-size: 7vw;
  }
  main .projects .project-card .top {
    padding: 0 5vw 5vw 5vw;
  }
  main .projects .project-card .top .left {
    height: 80%;
  }
  main .projects .project-card .top .left .title {
    font-size: 8vw;
    line-height: 8vw;
  }
  main .projects .project-card .top .left .status {
    padding: 2vw 3vw;
  }
  main .projects .project-card .tech-stack-top {
    height: 25%;
  }
  main .projects .project-card .more-info-top {
    height: 25%;
  }
  main .projects .project-card .members-top {
    height: 20%;
  }
  main .projects .project-card .mid {
    height: 40%;
    padding: 2vw 6vw;
    font-size: 4vw;
  }
  main .projects .project-card .more-info-mid {
    height: 55%;
  }
  main .projects .project-card .members-mid {
    height: 60%;
  }
  main .projects .project-card .members-mid .member a {
    text-decoration: none;
    color: #353535;
  }
  main .projects .project-card .tech-stack-mid {
    height: calc(80% - 25%);
    padding: 1vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    /* Tech Colors */
  }
  main .projects .project-card .tech-stack-mid .tech {
    margin: 1vw;
    height: 20vw;
    font-size: 3vw;
    padding: 1vw;
  }
  main .projects .project-card .tech-stack-mid .nodejs {
    background-color: #F1FEBE;
  }
  main .projects .project-card .tech-stack-mid .mongodb {
    background-color: #E4F5C8;
  }
  main .projects .project-card .tech-stack-mid .html {
    background-color: #FFD8D8;
  }
  main .projects .project-card .tech-stack-mid .css {
    background-color: #E0EEFF;
  }
  main .projects .project-card .tech-stack-mid .javascript {
    background-color: #FEFFCB;
  }
  main .projects .project-card .bottom {
    height: 20%;
    width: 90%;
    margin: 0 auto;
    border-top: 0.1vh solid #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 7vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main .projects .project-card .bottom .icon {
    color: #4F4F4F;
    cursor: pointer;
    height: 8vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.2vh solid rgba(0, 0, 0, 0);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 4.75vh;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  main .projects .project-card .bottom .link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #4F4F4F;
    text-decoration: none;
  }
  main .projects .project-card .bottom .icon:hover, main .projects .project-card .bottom .link:hover {
    background-color: #FFF3CA;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  main .projects .project-card .bottom .active {
    background-color: #FFF3CA !important;
  }
}
/*# sourceMappingURL=dscprojects.css.map */