.projects {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3vh;
}

.projects .project-card {
  min-height: 60vh;
  min-width: 54vh;
  margin: 2vh;
  overflow: hidden;
  border: 0.2vh solid #D9D9D9;
  border-radius: 2vh;
  position: relative;
}

.projects .project-card:hover {
  -webkit-box-shadow: 0 0 1.5vh #D9D9D9;
          box-shadow: 0 0 1.5vh #D9D9D9;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.projects .project-card .sub-card {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: blue;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.projects .project-card .intro {
  z-index: 1;
  opacity: 1;
  background-color: #FFFFFF;
}

.projects .project-card .info {
  z-index: -1;
  opacity: 0;
  background-color: #FFE9E9;
}

.projects .project-card .members {
  z-index: -1;
  opacity: 0;
  background-color: #F1FCFF;
}

.projects .project-card .tech-stack {
  z-index: -1;
  opacity: 0;
  background-color: #FFFADD;
}

.projects .project-card .bottom {
  height: 15%;
  margin: 2.5% auto;
  width: 80%;
  border-top: 0.2vh solid #D9D9D9;
}

.projects .project-card .go-back {
  position: absolute;
  top: 5vh;
  right: 5vh;
  cursor: pointer;
  font-size: 1.2rem;
}

.projects .project-card .intro .top {
  position: relative;
  height: 40%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 6.5%;
}

.projects .project-card .intro .top .left {
  position: relative;
  /* Title */
  /* Status */
}

.projects .project-card .intro .top .left .title {
  font-size: 2rem;
  line-height: 1.8rem;
}

.projects .project-card .intro .top .left .small {
  font-size: 1.5rem;
  line-height: 1.3rem;
}

.projects .project-card .intro .top .left .status {
  color: white;
  margin: 2.5vh 0 0 0;
  padding: 0.75vh 2vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1vh;
  font-size: 0.75rem;
}

.projects .project-card .intro .top .left .completed {
  background-color: #4A90E2;
}

.projects .project-card .intro .top .left .ongoing {
  background-color: #3CBA54;
}

.projects .project-card .intro .top .right {
  position: relative;
  height: 100%;
  width: 50%;
}

.projects .project-card .intro .top .right img {
  position: absolute;
  max-height: 70%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects .project-card .intro .mid {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
  padding: 2vh 3vh;
  text-align: justify;
  font-size: 0.9rem;
}

.projects .project-card .info .top {
  position: relative;
  height: 30%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 6.5%;
}

.projects .project-card .info .top .left {
  position: relative;
}

.projects .project-card .info .top .left .title {
  font-size: 1.6rem;
  line-height: 1.4rem;
}

.projects .project-card .info .mid {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
  padding: 2vh 3vh;
  text-align: justify;
  font-size: 0.9rem;
}

.projects .project-card .members .top {
  position: relative;
  height: 25%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 6.5%;
}

.projects .project-card .members .top .left {
  position: relative;
}

.projects .project-card .members .top .left .title {
  font-size: 1.6rem;
  line-height: 1.4rem;
}

.projects .project-card .members .mid {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  padding: 2vh 3vh;
  text-align: center;
}

.projects .project-card .members .mid .mentors .title, .projects .project-card .members .mid .developers .title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 2vh;
}

.projects .project-card .members .mid .mentors, .projects .project-card .members .mid .developers {
  font-size: 0.8rem;
}

.projects .project-card .members .mid .mentors a, .projects .project-card .members .mid .developers a {
  text-decoration: none;
  color: #292929;
}

.projects .project-card .tech-stack .top {
  position: relative;
  height: 25%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 6.5%;
}

.projects .project-card .tech-stack .top .left {
  position: relative;
}

.projects .project-card .tech-stack .top .left .title {
  font-size: 1.6rem;
  line-height: 1.4rem;
}

.projects .project-card .tech-stack .mid {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
  padding: 2vh 3vh;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Tech Colors */
}

.projects .project-card .tech-stack .mid .tech {
  height: 45%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh;
  margin: 0.5vh;
}

.projects .project-card .tech-stack .mid .nodejs {
  background-color: #D9FF80;
}

.projects .project-card .tech-stack .mid .mongodb {
  background-color: #99E6AF;
}

.projects .project-card .tech-stack .mid .html {
  background-color: #F1A28E;
}

.projects .project-card .tech-stack .mid .css {
  background-color: #8EA2F1;
}

.projects .project-card .tech-stack .mid .js, .projects .project-card .tech-stack .mid .python {
  background-color: #FBED84;
}

.projects .project-card .tech-stack .mid .sql, .projects .project-card .tech-stack .mid .sqlite {
  background-color: #82D4FD;
}

.projects .project-card .tech-stack .mid .firebase {
  background-color: #FFE080;
}

.projects .project-card .tech-stack .mid .java, .projects .project-card .tech-stack .mid .expressjs {
  background-color: #F58A8C;
}

.projects .project-card .tech-stack .mid .kotlin {
  background-color: #92BDEC;
}

.projects .project-card .tech-stack .mid .reactjs {
  background-color: #80EBFF;
}

.projects .project-card .tech-stack .mid .flutter {
  background-color: #84D5FB;
}

.projects .project-card .tech-stack .mid .ts {
  background-color: #99BDE6;
}

.projects .project-card .icons {
  position: absolute;
  z-index: +4;
  top: 82.5%;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-card .icons .icons-container {
  position: absolute;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project-card .icons .icons-container .icon {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  margin-right: 1vh;
  cursor: pointer;
}

.projects .project-card .icons .icons-container .icon a {
  text-decoration: none;
  color: #292929;
}

.projects .project-card .icons .icons-container .icon-hover {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 0;
  background-color: #FFF3CA;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.projects .animate {
  -webkit-animation: reveal 0.6s forwards;
  animation: reveal 0.6s forwards;
}

@-webkit-keyframes reveal {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (orientation: portrait) {
  .projects {
    width: 95%;
    padding-top: 3vw;
  }
  .projects .project-card {
    min-height: 100vw !important;
    min-width: 95vw !important;
    margin: 3vw;
    border: 0.2vw solid #D9D9D9;
    border-radius: 2vw;
  }
  .projects .project-card:hover {
    -webkit-box-shadow: 0 0 1.5vw #D9D9D9;
            box-shadow: 0 0 1.5vw #D9D9D9;
  }
  .projects .project-card .bottom {
    border-top: 0.3vw solid #D9D9D9;
  }
  .projects .project-card .go-back {
    top: 5vw;
    right: 5vw;
    font-size: 1rem;
  }
  .projects .project-card .intro .top .left {
    /* Title */
    /* Status */
  }
  .projects .project-card .intro .top .left .title {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  .projects .project-card .intro .top .left .small {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .projects .project-card .intro .top .left .status {
    margin: 3.5vw 0 0 0;
    padding: 1vw 2vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 1vh;
    font-size: 0.5rem;
  }
  .projects .project-card .intro .mid {
    padding: 3vw 4vw;
    text-align: justify;
    font-size: 0.8rem;
  }
  .projects .project-card .info .top .left .title {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  .projects .project-card .info .mid {
    padding: 3vw 4vw;
    text-align: justify;
    font-size: 0.8rem;
  }
  .projects .project-card .members .top .left .title {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  .projects .project-card .members .mid {
    padding: 3vw 4vw;
    font-size: 0.8rem;
  }
  .projects .project-card .members .mid .mentors .title, .projects .project-card .members .mid .developers .title {
    font-size: 0.9rem;
    margin-top: 2vw;
  }
  .projects .project-card .members .mid .mentors, .projects .project-card .members .mid .developers {
    font-size: 0.7rem;
  }
  .projects .project-card .tech-stack .top .left .title {
    font-size: 1.5rem;
    line-height: 1.2rem;
  }
  .projects .project-card .tech-stack .mid {
    padding: 3vw 4vw;
    font-size: 0.8rem;
  }
  .projects .project-card .tech-stack .mid .tech {
    font-size: 0.5rem;
    padding: 2vw;
    margin: 1vw;
  }
}
/*# sourceMappingURL=dscprojects.css.map */